// ===========================================================
// Navigation Styles
// ===========================================================

//Top logo
.img--logo {
    display: block;
    padding-top: em(30px);
    padding-bottom: em(30px);
    margin-left: auto;
    margin-right: auto;

    @include mq(large) {
        padding: 0;
    }
}

//Nav items
.nav a {
    display: block;
    color: #797e83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .8em;
    border-radius: $br-default;
    text-decoration: none;
    &:hover {
        background-color: $viking;
        color: $white;
    }
}

.nav {
    margin-bottom: 60px;

    @include mq(large) {
            @include flexy($just: space-between);
            margin-left: em(100px);
            margin-bottom: 0;
            width: 65%;
        }
    }


