// ===========================================================
// Typography Styles
// ===========================================================

.card {
    color: $gray;
}

p {
    line-height: (27px / 18px);
}

.headline--primary {
    color: $viking;
    font-weight: $font-weight--ultra-bold;
    padding-left: em(10px);
    line-height: em(16px);
}

.headline--secondary {
    color: $gray;
    font-size: em(20px);
    font-weight: $font-weight--light;
    margin-bottom: em(5px);
}

.blockquote {
    font-size: 1.45em;
    font-style: italic;
    line-height: 1.25em;
    margin: em(35px);
    padding-left: em(20px);
    border-radius: $br-default;
    border-left: 10px solid $viking;
}
