// ===========================================================
// Base Styles
// ===========================================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: $font-family--primary;
    border-style: none;
    font-size: $base__font-size;
}


.container {
    @include flexy($dir: column, $wrap: nowrap, $just: center);
    margin-right: $gutter;
    margin-left: $gutter;

    @include mq(large) {
        max-width: 1400px;
        margin: 0 auto;
    }
}

.link {
    color: $malibu;
    font-weight: $font-weight--bold;
    text-decoration: none;
}
